body {
    background: black;
    margin: 0 20px;
    padding: 0;
    color: white;
}

table {
    margin: auto;
}

img {
    border: none;
}

a:link {
    color: #CCCCFF;
    text-decoration: none;
}

a:visited {
    color: #CCCCFF;
    text-decoration: none;
}

a:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

a:active {
    color: #CCCCCC;
    text-decoration: underline;
}

div {
    margin: auto;
    padding: 0;
}

div.logo {
    width: 1000px;
}

div.box {
    margin: 10px auto;
    border: 1px solid #ffffff;
    width: 90%;
    padding: 5px;
    text-align: center;
}

#main-container {
    height: 600px;
    min-width: 800px;
    min-height: 335px;
    /*-webkit-transition: .2s;*/
    /*transition: .2s;*/
}

#player {
    width: 69%;
    height: 100%;
}

#chat {
    width: 30%;
    height: 100%;
    overflow: hidden;
}

#ratio-change {
    cursor: pointer;
}

div.footer {
    margin: 0 20px;
    padding: 5px;
    text-align: left;
    font-size: 180%
}

#options {
    color: grey;
}