body {
    background: black;
    color: white;
    /*margin: 0 20px;*/
    /*padding: 0;*/
}

img {
    border: none;
}

a:link {
    color: #CCCCFF;
    text-decoration: none;
}

a:visited {
    color: #CCCCFF;
    text-decoration: none;
}

a:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

a:active {
    color: #CCCCCC;
    text-decoration: underline;
}

div.logo {
    width: 1000px;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#main-container {
    height: 600px;
    min-width: 800px;
    overflow: hidden;
}

#player {
    width: 69%;
    height: 100%;
    -webkit-transition: .2s;
    transition: .2s;
}

#chat {
    width: 29%;
    height: 100%;
    float: right;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: .2s;
}

#ratio-change {
    cursor: pointer;
}

#options {
    color: grey;
}

#options a {
    color: grey;
}

#links {
    width: 800px;
    float: left;
    border: 1px solid #ffffff;
    text-align: center;
    margin-top: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

#steam-comments {
    border: 1px solid #ffffff;
    padding: 2px;
}

#steam-comments .steam-comment {
    padding: 2px;
}

#steam-comments hr {
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
}

#steam-comments .avatar {
    float: left;
}

#steam-comments img {
    position: relative;
    top: 2px;
}

#steam-comments .name {
    font-weight:bold;
}

#steam-comments .steam-comment-body {
    margin-left: 45px;
}