html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#videocontainer {
	position: fixed;
	top: 0;
	bottom: 30px;
	width: 100%;
	background-color: #000000;
}

#streambar {
	position: fixed;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: #333333;
}

.button {
	height: 100%;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
}

.button:hover {
	background-color: #7AA426;
}

#play-pause {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
}

#play-button-image {
	position: absolute;
	top: 6px;
	left: 10px;
}

#volume {
	position: absolute;
	top: 0;
	left: 30px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	width: 235px;
}

#volume-button-image {
	position: absolute;
	top: 5px;
	left: 5px;
}

#volume-slider {
	position: absolute;
	top: 12px;
	left: 32px;
	height: 5px;
	width: 200px;
}

.ui-slider-range-min {
	background-color: #7AA426;
	height: 100%;
}

.ui-slider-handle {
	position: absolute;
	top: -4px;
	height: 11px;
	width: 4px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.ui-widget-content {
	border: 1px solid #000000;
	background: #111111;
	color: #d9d9d9;
}
