html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

object {
    position: relative;
    bottom: 0;
}

a:link {
    color: #CCCCFF;
    text-decoration: none;
}

a:visited {
    color: #CCCCFF;
    text-decoration: none;
}

a:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

a:active {
    color: #CCCCCC;
    text-decoration: underline;
}

#video-container {
    position: fixed;
    top: 0;
    bottom: 30px;
    width: 100%;
    background-color: #000000;
}

#stream-bar {
    position: fixed;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #333333;
    text-align: center;
    color: white;
}

#stream-bar > div {
    height: 100%;
}

.button {
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.button:hover {
    background-color: #7AA426;
}

#play-pause {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    border-right: 1px solid #000000;
}

#volume {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150px;
    border-right: 1px solid #000000;
}

#mute {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
}

#viewer-count {
    position: absolute;
    top: 0;
    padding-left: 5px;
    padding-right: 5px;
    left: 180px;
    width: 42px;
    text-align: left;
}

#title-text {
    position: absolute;
    top: 0;
    left: 232px;
    right: 180px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}

#title-text span {
    position: relative;
    left: 0;
}

#right-side {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #000000;
    width: 180px;
    -webkit-transition: .5s;
    transition: .5s;
}

#play-button-image {
    position: absolute;
    top: 6px;
    left: 10px;
}

#volume-button-image {
    position: absolute;
    top: 5px;
    left: 5px;
}

#volume-slider {
    position: absolute;
    top: 12px;
    left: 32px;
    height: 5px;
    width: 110px;
    border: 1px solid #000000;
    background: #111111;
    color: #d9d9d9;
}

.ui-slider-range-min {
    background-color: #7AA426;
    height: 100%;
}

.ui-slider-handle {
    position: absolute;
    top: -4px;
    height: 11px;
    width: 4px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}